/* ==============================
   Estilos globais
   ============================== */

/* estilo de texto e fundo */
:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color: rgba(255, 255, 255, 0.87);
  background-color: #1a1a1a; 
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Links*/
a {
  font-weight: 500;
  color: #646cff;
  text-decoration: none;
}
a:hover {
  color: #535bf2;
}

/* =======================
   Layout principal
   =======================*/
body {
  margin: 0;
  padding: 0;
  min-width: 320px;
  min-height: 100vh;
  background-color: #1a1a1a;

  /* centraliza horizontalmente o conteúdo principal */
  display: flex;
  justify-content: center;
  align-items: flex-start; 
}

/* ====================
   Elementos básicos
   ====================*/
h1 {
  font-size: 2rem;
  line-height: 1.2;
  text-align: center;
  color: #fff;
}

/* Botões */
button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  color: white;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #ffd700; 
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}
